.messageBox{
    padding: 1vmax;
    margin: 1vmax;
    border-radius: 0.5vmax;
    display: inline-block;
    clear: both;
    font-size: 1.2vmax;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right{
    float: right;
    background-color: rgb(196, 255, 184);
    color: rgb(58, 57, 57);
    text-align: right;
    
}

.left{
    float: left;
    text-align: left;
    
    background-color: white;
    color: rgb(58, 57, 57);
}
@media screen and (max-width: 620px) {
    .messageBox{
        padding: 1vmax;
        margin: 1vmax;
        border-radius: 0.5vmax;
        display: inline-block;
        clear: both;
        font-size: 3.5vmax;
    }
    
    .right{
        float: right;
        background-color: rgb(196, 255, 184);
        color: rgb(58, 57, 57);
        text-align: right;
        
    }
    
    .left{
        float: left;
        text-align: left;
        
        background-color: white;
        color: rgb(58, 57, 57);
    }
}